<div class="jumbotron">
    <div class="container">
        <h1>All articles</h1>
        <p>Simple API REST Framework: codeigniter 3 Frontend: Angujarjs </p>
        <a href="#!/create" class="btn btn-primary btn-lg pull-right">
            <i class="glyphicon glyphicon-plus"></i>New Article
        </a>
    </div>
</div>

<div class="alert alert-warning" ng-hide="articles">
    <p>There are no articles in the database...</p>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="article in articles">
        <div class="pull-right action-buttons">
            <a href="#!/edit/{{article.id}}"><span class="glyphicon glyphicon-eye-open"></span> </a>
            <a ng-click="remove(article.id)" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
        <div class="thumbnail">
            <img width="65" height="56" src="https://alexlondon07.github.io/images/iconos/iconos-Php.png" alt="{{ article.title }}">
            <div class="caption">
                <h3>{{ article.title }}</h3>
                <p>{{ article.description }}</p>
            </div>
        </div>
    </div>
</div>