<div class="row">
    <div class="panel-body">
        <div class="alert alert-warning" ng-hide="articles">
            <p>There are no articles in the database...</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="article in articles">
                <div class="thumbnail">
                    <div class="media">
                        <div class="pull-right action-buttons">
                            <a href="#/view/{{article.id}}"><span class="glyphicon glyphicon-eye-open"></span> </a>
                            <a ng-click="remove(article.id)" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="..." alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ article.title }}</h4>
                            <p>{{ article.description }}</p>
                            <p><a href="#" class="btn btn-primary" role="button">View more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>